# Object files
./obj/
./example-game/obj/
*.o
*.ko
*.obj
*.elf

# Temporary files
*.swp

# Binaries directory
*bin

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
./bin/
./example-game/bin/Linux/bugsquasher
example-game/bin/
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Assets
assets*
example-game/assets/xcf/
example-game/assets/promo/
example-game/assets/icons/*.png
example-game/assets/song01.wav
example-game/assets/song01.dat

# Android project (many things are simply duplicated)
example-game/android-project/
old_mobile/example-game/android-project/

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

